@model IEnumerable<Viagem.Models.Pagamento>

@{
    ViewData["Title"] = "Index Pagamento";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
            #sec-59a1, #menuPrincipal { 
                display: none;
            }
            header {
                background-image: url("../images/04c92f4b1888be1f59c0cf8549526806.jpeg") !important;
            }
            .tabela {
                margin: 120px auto 120px;
            }
        </style>
</head>
<body>
<p>
    <a asp-action="Create">Cadastrar Pagamento</a>
</p>
<table class="table tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pagar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pagar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
